server:
  shutdown: graceful

spring:
  application:
    name: portti
  cloud:
    gateway:
      server:
        webmvc:
          discovery:
            locator:
              enabled: true
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    # For debugging gateway 
    gateway:
      access: UNRESTRICTED
    health:
      probes:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
  opentelemetry:
    resource-attributes:
      application: ${spring.application.name}
      cluster: local
      # Micrometer Metrics configures this attribute with "unknown value".
      # It should probably be autoconfigured correctly by Spring Boot.
      "service.name": ${spring.application.name}
    tracing:
      export:
        otlp:
          endpoint: http://otel-collector:4318/v1/traces
  otlp:
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
      

logging:
#  structured:
#    format:
#      console: ecs
     level:
#       javax: TRACE
        #org.springframework: DEBUG  
        org.springframework.cloud.gateway: DEBUG
        org.springframework.cloud.loadbalancer: DEBUG
        #org.springframework.cloud: DEBUG
